{% extends 'base.html'%}
{% block content %}

	<!-- BANNER -->
	<div class="section banner-page banner-page-img">
		<div class="content-wrap pos-relative">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="d-flex bd-highlight mb-3">
							<div class="title-page">About Us</div>
						</div>
						<!-- <div class="d-flex bd-highlight mb-3">
						    <nav aria-label="breadcrumb">
							  <ol class="breadcrumb ">
							    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
							    <li class="breadcrumb-item active" aria-current="page">About Us</li>
							  </ol>
							</nav>
					  	</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- WELCOME TO LAWE -->
	<div class="section">
		<div class="content-wrap">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-6">
						<h2 class="section-heading">
							Welcome to Lawyer Connect
						</h2>
						<p class="subheading mb-4">"we always take care of clients seriously"</p>
						<p>We provide expert legal services with a client-centered approach. Specializing in family law, criminal defense, and business litigation, our dedicated team ensures personalized attention and strategic solutions. We are committed to achieving the best outcomes for our clients through integrity, experience, and relentless advocacy.</p>
						<a href="#" class="btn btn-primary">LEARN MORE</a>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-6">
						<img src="images/about.jpg" alt="" class="img-fluid mt-3">
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<!-- FUN FACT -->
	<div class="section bgi-cover-center" style="background-color: #223555;" data-background="images/static.jpg">
		<div class="content-wrap">
			<div class="container">

				<div class="row">
					
					<!-- Item 1 -->
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-icon-funfact">
							<div class="icon">
								<i class="fa fa-balance-scale"></i>
							</div>
							<div class="body-content">
								<h2>212+</h2>
								<p class="uk18">Succesful Cases</p>
							</div>
						</div>
					</div>

					<!-- Item 2 -->
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-icon-funfact">
							<div class="icon">
								<i class="fa fa-gavel"></i>
							</div>
							<div class="body-content">
								<h2>172+</h2>
								<p class="uk18">Cases Closed</p>
							</div>
						</div>
					</div>

					<!-- Item 3 -->
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-icon-funfact">
							<div class="icon">
								<i class="fa fa-users"></i>
							</div>
							<div class="body-content">
								<h2>312+</h2>
								<p class="uk18">Trusted Clients</p>
							</div>
						</div>
					</div>

					<!-- Item 4 -->
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-icon-funfact">
							<div class="icon">
								<i class="fa fa-briefcase"></i>
							</div>
							<div class="body-content">
								<h2>5+</h2>
								<p class="uk18">Expert Team</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- FAQS -->
	<div class="section">
		<div class="content-wrap pb-0">
			<div class="container">

				<div class="row">
					
					<div class="col-sm-12 col-md-12">
						<h2 class="section-heading">
							Frequently Ask Question
						</h2>
						<p class="subheading mb-4">"we always take care of clients seriously"</p>
					</div>
				</div>

				<div class="row align-items-end mt-5">
					
					<div class="col-sm-12 col-md-12 col-lg-5">
						<img src="images/weoffer.png" alt="" class="img-fluid img-border">
					</div>
					<div class="col-sm-12 col-md-12 col-lg-7">
												
						<div class="accordion rs-accordion" id="accordionExample">
						   <!-- Item 1 -->
						   <div class="card">
						      <div class="card-header" id="headingOne">
						         <h3 class="title">
						            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										What types of cases do you handle?
						            </button>
						         </h3>
						      </div>
						      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						         <div class="card-body">
						            We specialize in various areas of law, including family law, criminal defense, financial law, and civil litigation. Our experienced attorneys are equipped to handle a wide range of legal issues to best serve our clients' needs.
						         </div>
						      </div>
						   </div>
						   <!-- Item 2 -->
						   <div class="card">
						      <div class="card-header" id="headingTwo">
						         <h3 class="title">
						            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										How do I know if I need a lawyer?
						            </button>
						         </h3>
						      </div>
						      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						         <div class="card-body">
						            If you're facing legal issues, such as a divorce, criminal charges, or business disputes, consulting a lawyer can help clarify your rights and options. It's advisable to seek legal counsel whenever you're unsure about a situation's legal implications.
						         </div>
						      </div>
						   </div>
						   <!-- Item 3 -->
						   <div class="card">
						      <div class="card-header" id="headingThree">
						         <h3 class="title">
						            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										What can I expect during my first consultation?
						            </button>
						         </h3>
						      </div>
						      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						         <div class="card-body">
						            <p>During your initial consultation, we will discuss your legal issue in detail, review relevant documents, and outline potential strategies. This meeting is an opportunity for you to ask questions and understand how we can assist you.</p>
						         </div>
						      </div>
						   </div>
						   <!-- Item 4 -->
						   <div class="card">
						      <div class="card-header" id="headingFour">
						         <h3 class="title">
						            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										How are legal fees structured?
						            </button>
						         </h3>
						      </div>
						      <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						         <div class="card-body">
						            <p>Our legal fees vary depending on the type of case and the complexity involved. We offer different billing options, including hourly rates, flat fees, and contingency fees. We will discuss the fee structure during your consultation to ensure transparency.</p>
						         </div>
						      </div>
						   </div>
						</div>
						<!-- end accordion -->

						<p class="uk21 mt-5 text-black"><a href="contact.html">Can't find your answer?. Contact us now!</a></p>

						<div class="spacer-content"></div>
					
					</div>

				</div>

			</div>
		</div>
	</div>

	<!-- OUR TESTIMONIALS -->
	<div class="section bgi-cover-center" style="background-color: #223555;" data-background="images/testimony-bg.jpg">
		<div class="content-wrap">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<h2 class="section-heading text-center text-white">
							What Clients Say
						</h2>
						<p class="subheading text-center mb-5">Every case is very important to us and we always take care of them seriously.</p>
					</div>
				</div>
				<div class="row">
					
					<div class="col-sm-12 col-md-12 col-lg-6">
						<div id="testimonial" class="owl-carousel owl-theme owl-light">
							<!-- Item 1 -->
							<div class="item">
								<div class="rs-box-testimony">
									<div class="quote-box">
										<div class="media-box">
											<img src="images/team-img1.jpg" alt="" class="rounded-circle">
										</div>
										<div class="quote-name">
											Abebe Kebede <span>Businessman</span>
										</div>                        
									</div>
									<blockquote class="quote">
										"Lawyer Connect exceeded my expectations! Their team was professional, responsive, and truly cared about my case. Thanks to their expertise, I achieved a positive outcome. I highly recommend them for anyone seeking trustworthy legal representation!"
									</blockquote>
								</div>
							</div>
							<!-- Item 2 -->
							<div class="item">
								<div class="rs-box-testimony">
									<div class="quote-box">
										<div class="media-box">
											<img src="images/team-img2.jpg" alt="" class="rounded-circle">
										</div>
										<div class="quote-name">
											Aster Aweke  <span>Accountant</span>
										</div>                        
									</div>
									<blockquote class="quote">
										"Working with Lawyer Connect was a fantastic experience. Their knowledgeable team was always available to answer my questions and guide me through the process. I felt supported every step of the way. I highly recommend their services!"
									</blockquote>
								</div>
							</div>
							<!-- Item 3 -->
							<div class="item">
								<div class="rs-box-testimony">
									<div class="quote-box">
										<div class="media-box">
											<img src="images/team-img3.jpg" alt="" class="rounded-circle">
										</div>
										<div class="quote-name">
											Chala Bekele <span>Businessman</span>
										</div>                        
									</div>
									<blockquote class="quote">
										"I'm incredibly thankful for the support from Lawyer Connect. Their professionalism and expertise made all the difference in my case. They truly care about their clients and work tirelessly for the best outcomes. Highly recommended!"
									</blockquote>
								</div>
							</div>
						</div>
					</div>
						
					<div class="col-sm-12 col-md-12 col-lg-6">
						<div class="row mt-4">
							<div class="col-6 col-sm-4 col-md-4 mb-4">
								<img src="images/client1w.png" alt="" class="img-fluid">
							</div>
							<div class="col-6 col-sm-4 col-md-4 mb-4">
								<img src="images/client2w.png" alt="" class="img-fluid">
							</div>
							<div class="col-6 col-sm-4 col-md-4 mb-4">
								<img src="images/client3w.png" alt="" class="img-fluid">
							</div>
							<div class="col-6 col-sm-4 col-md-4 mb-4">
								<img src="images/client4w.png" alt="" class="img-fluid">
							</div>
							<div class="col-6 col-sm-4 col-md-4 mb-4">
								<img src="images/client5w.png" alt="" class="img-fluid">
							</div>
							<div class="col-6 col-sm-4 col-md-4 mb-4">
								<img src="images/client6w.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- HOW TO HELP US -->
	<div class="section">
		<div class="content-wrap">
			<div class="container">
				<div class="row">

					<div class="col-sm-12 col-md-12">
						<h2 class="section-heading text-center mb-4">
							Meet Our Attorney
						</h2>
						<p class="subheading text-center mb-5">Every case is very important to us and we always take care of them seriously.</p>
					</div>
					
				</div>
				<div class="row">
					<!-- Item 1 -->
					<div class="col-sm-6 col-md-6 col-lg-3 mb-4">
						<div class="rs-team-1">
							<div class="media-box">
								<a href="attorneys-single.html"><img src="images/team01.jpg" alt="" class="img-fluid"></a>
							</div>
							<div class="body">
								<div class="title"><a href="attorneys-single.html">Rome Doel</a></div>
								<div class="position">CEO & Lawyer</div>
								<div class="sosmed-icon icon-bg-secondary d-inline-flex">
									<a target="_blank" href="https://web.facebook.com/?_rdc=1&_rdr#"><i class="fa fa-facebook"></i></a> 
									<a target="_blank" href="https://x.com/"><i class="fa fa-twitter"></i></a> 
									<a target="_blank" href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a> 
									<a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- Item 2 -->
					<div class="col-sm-6 col-md-6 col-lg-3 mb-4">
						<div class="rs-team-1">
							<div class="media-box">
								<a href="attorneys-single.html"><img src="images/team02.jpg" alt="" class="img-fluid"></a>
							</div>
							<div class="body">
								<div class="title"><a href="attorneys-single.html">Ella Doel</a></div>
								<div class="position">Consumer Lawyer</div>
								<div class="sosmed-icon icon-bg-secondary d-inline-flex">
									<a target="_blank" href="https://web.facebook.com/?_rdc=1&_rdr#"><i class="fa fa-facebook"></i></a> 
									<a target="_blank" href="https://x.com/"><i class="fa fa-twitter"></i></a> 
									<a target="_blank" href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a> 
									<a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- Item 3 -->
					<div class="col-sm-6 col-md-6 col-lg-3 mb-4">
						<div class="rs-team-1">
							<div class="media-box">
								<a href="attorneys-single.html"><img src="images/team03.jpg" alt="" class="img-fluid"></a>
							</div>
							<div class="body">
								<div class="title"><a href="attorneys-single.html">Sarah Doel</a></div>
								<div class="position">Criminal Lawyer</div>
								<div class="sosmed-icon icon-bg-secondary d-inline-flex">
									<a target="_blank" href="https://web.facebook.com/?_rdc=1&_rdr#"><i class="fa fa-facebook"></i></a> 
									<a target="_blank" href="https://x.com/"><i class="fa fa-twitter"></i></a> 
									<a target="_blank" href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a> 
									<a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a> 
								</div>
							</div>
						</div>
					</div>
					<!-- Item 4 -->
					<div class="col-sm-6 col-md-6 col-lg-3 mb-4">
						<div class="rs-team-1">
							<div class="media-box">
								<a href="attorneys-single.html"><img src="images/team04.jpg" alt="" class="img-fluid"></a>
							</div>
							<div class="body">
								<div class="title"><a href="attorneys-single.html">George Doel</a></div>
								<div class="position">Family Lawyer</div>
								<div class="sosmed-icon icon-bg-secondary d-inline-flex">
									<a target="_blank" href="https://web.facebook.com/?_rdc=1&_rdr#"><i class="fa fa-facebook"></i></a> 
									<a target="_blank" href="https://x.com/"><i class="fa fa-twitter"></i></a> 
									<a target="_blank" href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a> 
									<a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}	
