{% extends 'base.html'%}
{% block content%}

   <!-- BANNER -->
	<div class="section banner-page" data-background="images/banner-single.jpg">
		<div class="content-wrap pos-relative">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="d-flex bd-highlight mb-3">
							<div class="title-page">Attorneys</div>
						</div>
						<div class="d-flex bd-highlight mb-3">
						   
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- HOW TO HELP US -->
	<div class="section">
		<div class="content-wrap">
			<div class="container">
				<div class="row">
					<!-- Item 1 -->
					<div class="col-sm-6 col-md-6 col-lg-3 mb-4">
						<div class="rs-team-1">
							<div class="media-box">
								<a href="attorneys-single.html"><img src="images/team01.jpg" alt="" class="img-fluid"></a>
							</div>
							<div class="body">
								<div class="title"><a href="attorneys-single.html">Abel Mathios</a></div>
								<div class="position">CEO & Founder</div>
								<div class="sosmed-icon icon-bg-secondary d-inline-flex">
									<a href="https://web.facebook.com/"><i class="fa fa-facebook"></i></a> 
									<a href="https://x.com/"><i class="fa fa-twitter"></i></a> 
									<a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a> 
									<a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a> 
								</div>
							</div>
						</div>
					</div>
					<!-- Item 2 -->
					<div class="col-sm-6 col-md-6 col-lg-3 mb-4">
						<div class="rs-team-1">
							<div class="media-box">
								<a href="attorneys-single.html"><img src="images/team02.jpg" alt="" class="img-fluid"></a>
							</div>
							<div class="body">
								<div class="title"><a href="attorneys-single.html">Aster Abebe</a></div>
								<div class="position">Consumer Lawyer</div>
								<div class="sosmed-icon icon-bg-secondary d-inline-flex">
									<a href="https://web.facebook.com/"><i class="fa fa-facebook"></i></a> 
									<a href="https://x.com/"><i class="fa fa-twitter"></i></a> 
									<a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a> 
									<a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a> 
								</div>
							</div>
						</div>
					</div>
					<!-- Item 3 -->
					<div class="col-sm-6 col-md-6 col-lg-3 mb-4">
						<div class="rs-team-1">
							<div class="media-box">
								<a href="attorneys-single.html"><img src="images/team03.jpg" alt="" class="img-fluid"></a>
							</div>
							<div class="body">
								<div class="title"><a href="attorneys-single.html">Sarah Lealem</a></div>
								<div class="position">Criminal Lawyer</div>
								<div class="sosmed-icon icon-bg-secondary d-inline-flex">
									<a href="https://web.facebook.com/"><i class="fa fa-facebook"></i></a> 
									<a href="https://x.com/"><i class="fa fa-twitter"></i></a> 
									<a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a> 
									<a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>  
								</div>
							</div>
						</div>
					</div>
					<!-- Item 4 -->
					<div class="col-sm-6 col-md-6 col-lg-3 mb-4">
						<div class="rs-team-1">
							<div class="media-box">
								<a href="attorneys-single.html"><img src="images/team04.jpg" alt="" class="img-fluid"></a>
							</div>
							<div class="body">
								<div class="title"><a href="attorneys-single.html">Natenael Tamirat</a></div>
								<div class="position">Family Lawyer</div>
								<div class="sosmed-icon icon-bg-secondary d-inline-flex">
									<a href="https://web.facebook.com/"><i class="fa fa-facebook"></i></a> 
									<a href="https://x.com/"><i class="fa fa-twitter"></i></a> 
									<a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a> 
									<a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a> 
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}