{% extends 'base.html'%}
{% block content%}
	<!-- BANNER -->
	<div class="section banner-page" data-background="images/banner-single.jpg">
		<div class="content-wrap pos-relative">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="d-flex bd-highlight mb-3">
							<div class="title-page">Testimonials</div>
						</div>
						<div class="d-flex bd-highlight mb-3">
						    <nav aria-label="breadcrumb">
							  <ol class="breadcrumb ">
							    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
							    <li class="breadcrumb-item active" aria-current="page">Testimonials</li>
							  </ol>
							</nav>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- TESTIMONIALS -->
	<div class="section">
		<div class="content-wrap">
			<div class="container">

				<div class="row">

					<div class="col-sm-12 col-md-12 col-lg-6">
						<div class="rs-testimonial-1">
		              		<div class="media">
	              				<img src="images/team-img1.jpg" alt="" class="img-fluid">
	              			</div>
			              	<div class="body">
			                	<p> Lawyer-Connect  made finding the right lawyer so easy. After answering a few questions, I was quickly matched with experienced attorneys in my area of need. The process was seamless, and I found a great lawyer who resolved my case efficiently. Highly recommend!</p>
			                	<div class="title">Biruk Wendimu </div>
			                	<div class="company">Businessman</div>
			              	</div>
			            </div>
					</div>

					<div class="col-sm-12 col-md-12 col-lg-6">
						<div class="rs-testimonial-1">
		              		<div class="media">
	              				<img src="images/team-img2.jpg" alt="" class="img-fluid">
	              			</div>
			              	<div class="body">
			                	<p>Finding the right lawyer felt overwhelming until I used Lawyer-Connect. The platform quickly connected me with a knowledgeable attorney who resolved my case efficiently. Highly recommend for anyone needing legal help! </p>
			                	<div class="title">Almaz Fitsum</div>
			                	<div class="company">House Keeper</div>
			              	</div>
			            </div>
					</div>

					<div class="col-sm-12 col-md-12 col-lg-6">
						<div class="rs-testimonial-1">
		              		<div class="media">
	              				<img src="images/team-img3.jpg" alt="" class="img-fluid">
	              			</div>
			              	<div class="body">
			                	<p>Lawyer-Connect made finding a lawyer simple and stress-free. I connected with an expert in no time, and they handled my case perfectly. Highly recommend! </p>
			                	<div class="title">Solomon Girum</div>
			                	<div class="company">Contractor</div>
			              	</div>
			            </div>
					</div>

					<div class="col-sm-12 col-md-12 col-lg-6">
						<div class="rs-testimonial-1">
		              		<div class="media">
	              				<img src="images/team-img4.jpg" alt="" class="img-fluid">
	              			</div>
			              	<div class="body">
			                	<p>I was overwhelmed trying to find the right lawyer until I found Lawyer-Connect. The platform was easy to use and connected me with a skilled attorney who understood my needs. The process was fast, and my case was handled professionally. I highly recommend this service to anyone looking for legal help!</p>
			                	<div class="title">Abigya Kidan</div>
			                	<div class="company">Freelance</div>
			              	</div>
			            </div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<!-- OUR TESTIMONIALS -->
	<div class="section bgi-cover-center" data-background="images/testimony-bg.jpg">
		<div class="content-wrap">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<h2 class="section-heading text-center text-white">
							What Clients Say
						</h2>
						<p class="subheading text-center mb-5">Every case is very important to us and we always take care of them seriously.</p>
					</div>
				</div>
				<div class="row">
					
					<div class="col-sm-12 col-md-12 col-lg-6">
						<div id="testimonial" class="owl-carousel owl-theme owl-light">
							<!-- Item 1 -->
							<div class="item">
								<div class="rs-box-testimony">
									<div class="quote-box">
										<div class="media-box">
											<img src="images/team-img1.jpg" alt="" class="rounded-circle">
										</div>
										<div class="quote-name">
											Johnathan Doel <span>Businessman</span>
										</div>                        
									</div>
									<blockquote class="quote">
									 Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam
									</blockquote>
								</div>
							</div>
							<!-- Item 2 -->
							<div class="item">
								<div class="rs-box-testimony">
									<div class="quote-box">
										<div class="media-box">
											<img src="images/team-img2.jpg" alt="" class="rounded-circle">
										</div>
										<div class="quote-name">
											Johnathan Doel <span>Businessman</span>
										</div>                        
									</div>
									<blockquote class="quote">
									 Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam
									</blockquote>
								</div>
							</div>
							<!-- Item 3 -->
							<div class="item">
								<div class="rs-box-testimony">
									<div class="quote-box">
										<div class="media-box">
											<img src="images/team-img3.jpg" alt="" class="rounded-circle">
										</div>
										<div class="quote-name">
											Johnathan Doel <span>Businessman</span>
										</div>                        
									</div>
									<blockquote class="quote">
									 Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam
									</blockquote>
								</div>
							</div>
						</div>
					</div>
						
					<div class="col-sm-12 col-md-12 col-lg-6">
						<div class="row mt-4">
							<div class="col-6 col-sm-4 col-md-4 mb-4">
								<img src="images/client1w.png" alt="" class="img-fluid">
							</div>
							<div class="col-6 col-sm-4 col-md-4 mb-4">
								<img src="images/client2w.png" alt="" class="img-fluid">
							</div>
							<div class="col-6 col-sm-4 col-md-4 mb-4">
								<img src="images/client3w.png" alt="" class="img-fluid">
							</div>
							<div class="col-6 col-sm-4 col-md-4 mb-4">
								<img src="images/client4w.png" alt="" class="img-fluid">
							</div>
							<div class="col-6 col-sm-4 col-md-4 mb-4">
								<img src="images/client5w.png" alt="" class="img-fluid">
							</div>
							<div class="col-6 col-sm-4 col-md-4 mb-4">
								<img src="images/client6w.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}