{% extends 'base.html'%}
{% block content%}
	<!-- BANNER -->
	<div class="section banner-page" data-background="images/banner-single.jpg">
		<div class="content-wrap pos-relative">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="d-flex bd-highlight mb-3">
							<div class="title-page">Practice Areas</div>
						</div>
						<div class="d-flex bd-highlight mb-3">
						    <nav aria-label="breadcrumb">
							  <ol class="breadcrumb ">
							    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
							    <li class="breadcrumb-item"><a href="practice-area.html">Practice Areas</a></li>
							    <li class="breadcrumb-item active" aria-current="page">Family Law</li>
							  </ol>
							</nav>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- CONTENT -->
	<div class="section">
		<div class="content-wrap">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-8">

						<div class="row">
							<div class="col-sm-12 col-md-12">
								<img src="images/practice-area-single.jpg" alt="" class="img-fluid">
							</div>
						</div>

						<div class="row mt-5">
							<div class="col-sm-12 col-md-12">
								<h2 class="section-heading">
									Family Law
								</h2>
								<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla par- iatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Consect petur adipiscing elit. eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo.nim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliqu id etx ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo.</p>

								<a href="#" class="btn btn-secondary">FREE CONSULTATION</a>

							</div>
						</div>

						<hr class="content">

						<div class="row">
							<div class="col-sm-12 col-md-12">
								<h2 class="section-heading">
									Need To Know
								</h2>
								<p class="subheading mb-4">"we always take care of clients seriously"</p>
						
								<div class="accordion rs-accordion" id="accordionExample">
								   <!-- Item 1 -->
								   <div class="card">
								      <div class="card-header" id="headingOne">
								         <h3 class="title">
								            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								            How do children learn?
								            </button>
								         </h3>
								      </div>
								      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
								         <div class="card-body">
								            Create and publilsh dynamic websites for desktop, tablet, and mobile devices that meet the latest web standards- without writing code. Design freely using familiar tools and hundreds of web fonts. easily add interactivity, including slide shows, forms, and more.
								         </div>
								      </div>
								   </div>
								   <!-- Item 2 -->
								   <div class="card">
								      <div class="card-header" id="headingTwo">
								         <h3 class="title">
								            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								            When can I enroll?
								            </button>
								         </h3>
								      </div>
								      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
								         <div class="card-body">
								            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								         </div>
								      </div>
								   </div>
								   <!-- Item 3 -->
								   <div class="card">
								      <div class="card-header" id="headingThree">
								         <h3 class="title">
								            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								            How successful are children when they graduate from Kids?
								            </button>
								         </h3>
								      </div>
								      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
								         <div class="card-body">
								            <p>Unzip the file, locate Html file and double click the file and you will directly to adobe Html. Next step you can modifications our template, you can customize color, text, font, content, logo and image with your need using familiar tools on adobe Html without writing any code.</p>
								            <p>You can't re-distribute the Item as stock, in a tool or template, or with source files. You can't re-distribute or make available the Item as-is or with superficial modifications. These things are not allowed even if the re-distribution is for Free.</p>
								         </div>
								      </div>
								   </div>
								   <!-- Item 4 -->
								   <div class="card">
								      <div class="card-header" id="headingFour">
								         <h3 class="title">
								            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								            What security measures are in place at Kids?
								            </button>
								         </h3>
								      </div>
								      <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
								         <div class="card-body">
								            <p>Unzip the file, locate Html file and double click the file and you will directly to adobe Html. Next step you can modifications our template, you can customize color, text, font, content, logo and image with your need using familiar tools on adobe Html without writing any code.</p>
								            <p>You can't re-distribute the Item as stock, in a tool or template, or with source files. You can't re-distribute or make available the Item as-is or with superficial modifications. These things are not allowed even if the re-distribution is for Free.</p>
								         </div>
								      </div>
								   </div>
								</div>
								<!-- end accordion -->



							</div>
						</div>

						<hr class="content">

						<div class="row">
							<div class="col-sm-12 col-md-12">
								<h2 class="section-heading">
									Meet Our Attorney
								</h2>
								<p class="subheading mb-4">"we always take care of clients seriously"</p>
						
								<div class="row">
									<!-- Item 1 -->
									<div class="col-sm-6 col-md-6">
										<div class="rs-team-1">
											<div class="media-box"><img src="images/team01.jpg" alt="" class="img-fluid"></div>
											<div class="body">
												<div class="title">Rome Doel</div>
												<div class="position">CEO & Lawyer</div>
												<div class="sosmed-icon icon-bg-secondary d-inline-flex">
													<a href="#"><i class="fa fa-facebook"></i></a> 
													<a href="#"><i class="fa fa-twitter"></i></a> 
													<a href="#"><i class="fa fa-instagram"></i></a> 
													<a href="#"><i class="fa fa-linkedin"></i></a> 
												</div>
											</div>
										</div>
									</div>
									<!-- Item 2 -->
									<div class="col-sm-6 col-md-6">
										<div class="rs-team-1">
											<div class="media-box"><img src="images/team02.jpg" alt="" class="img-fluid"></div>
											<div class="body">
												<div class="title">Ella Doel</div>
												<div class="position">Consumer Lawyer</div>
												<div class="sosmed-icon icon-bg-secondary d-inline-flex">
													<a href="#"><i class="fa fa-facebook"></i></a> 
													<a href="#"><i class="fa fa-twitter"></i></a> 
													<a href="#"><i class="fa fa-instagram"></i></a> 
													<a href="#"><i class="fa fa-linkedin"></i></a> 
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>

					</div>

					<div class="col-sm-12 col-md-12 col-lg-4">
						<div class="widget categories">
							<ul class="category-nav">
								<li><a href="#" title="Family Law">Family Law</a></li>
								<li><a href="#" title="Financial Law">Financial Law</a></li>
								<li><a href="#" title="Sexual Offences">Sexual Offences</a></li>
								<li><a href="#" title="Drug Offences">Drug Offences</a></li>
								<li><a href="#" title="Fire Accident">Fire Accident</a></li>
								<li><a href="#" title="Shoplifthing">Shoplifthing</a></li>
							</ul>
						</div>

						<div class="widget">
							<div class="rs-box-widget bg-secondary">
								<div class="icon">
									<i class="fa fa-phone"></i>
								</div>
								<div class="body">
									<h3>How Can We Help You?</h3>
									<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla par- iatur.</p>
									<a href="contact.html" class="text-primary">CONTACT US</a>
								</div>
							</div>
						</div>

						<div class="widget">
							<div class="rs-box-widget">
								<div class="icon">
									<i class="fa fa-file-pdf-o"></i>
								</div>
								<div class="body">
									<h3>Download Brochure</h3>
									<p>We always take care of clients seriously</p>
									<a href="#" class="btn btn-primary">DOWNLOAD</a>
								</div>
							</div>
						</div>

					</div>
					<!-- End Sidebar -->
				</div>
			</div>
		</div>
	</div>

{% endblock %}